<% # [Hyrax-override-v5.0.1] %>
<dl>
  <!-- Persistent URL block start -->
  <div class='metadata-line'>
    <div class='col-xs-12 col-sm-4'><dt >Persistent URL</dt></div>
    <div class='col-xs-12 col-sm-8'><dd>
    <% if @presenter.solr_document[:alternate_ids].present? %>
        <% url = "#{request.base_url}/purl/#{@presenter.solr_document.alternate_ids.first}" %>
        <a href="<%= url %>" target="_blank"><%= url %></a>
    <% else %>
        No alternate ID available
    <% end %>
    </dd></div>
  </div>
  <!-- Persistent URL block end -->
  <% @presenter.terms_with_values.each do |field_name| %>
    <div class='metadata-line'>
      <div class='col-xs-12 col-sm-4'><dt><%= collection_metadata_label(@presenter, field_name) %></dt></div>
      <div class='col-xs-12 col-sm-8'><dd><%= collection_metadata_value(@presenter, field_name) %></dd></div>
    </div>
  <% end %>
</dl>