@import "../scss/colors.scss";

.btn {
  border-radius: 0;
  font-family: "Open Sans";
  text-transform: uppercase;
  font-weight: bold;
  transition: 0.3s;

  &.btn-primary {
    background-color: $bright-blue;
    border: 1px solid $bright-blue;
    color: $white;

    &:hover {
      background-color: $mid-blue;
      border: 1px solid $mid-blue;
    }
  }

  &.btn-secondary {
    background-color: $white;
    border: 1px solid $bright-blue;
    color: $bright-blue;

    &:hover {
      background-color: $light-blue;
    }

    &a.btn-danger {
      color: $white !important;
    }
  }

  &.remove {
    text-transform: uppercase;
    font-weight: bold;
    text-align: center;
    text-decoration: underline;
    cursor: pointer;
    color: #d33a35;
    box-sizing: border-box;
  }
}

/**** Search Button Override ****/
#submit_search {
  margin-top: 0.625rem;
}

/**** Nav Pill Button Override ****/
.tabbing.nav-pills > li > a {
  background-color: $bright-blue;
}
.tabbing.nav-pills > li > a.active {
  background-color: $mid-blue;
}
