@import "colors.scss";
@import "fonts.scss";

header {
  background-color: $white;
  margin-bottom: 2rem;

  nav {
    /**** top nav ****/
    &.navbar-collapse {
      .navbar-nav.col-md-5 {
        padding: 0;
      }

      .oe2-controls {
        // hide notifications
        span.count.badge.invisible.badge-secondary {
          display: none;
        }
      }
    } /**** END top nav ****/
  }

  /**** Nav Styling ****/
  .navbar .navbar-nav .nav-item .nav-link {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6875rem;
    line-height: 1.6111;
    color: $base-blue;

    &:hover {
      color: $bright-blue;
    }
  }

  .navbar .navbar-light .navbar-nav .nav-link {
    color: $base-blue;
  }

  .navbar .navbar-toggler-icon {
    display: inline-block !important;
  }

  .navbar .nav-item {
    display: flex;
  }

  .navbar .nav-item:not(:last-child)::after {
    content: "|";
    color: $base-slate;
    display: flex;
    padding-top: 0.25rem;
  }

  .nav-item.dropdown .nav-link::after {
    // .oe2-right-nav .dropdown .nav-link::after
    content: "â¯";
    float: right;
    transform: rotate(90deg);
    color: $base-blue;
    padding-left: 0.9375rem;
    margin-top: -0.4375rem;
  }

  .oe2-right-nav .notify-number {
    margin-left: 0.9375rem;
  }

  /**** Branding Styling ****/

  .branding-header {
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
  }

  .branding-header-logo {
    margin-right: 0.5rem;
  }

  branding-header.branding-text {
    display: flex;
    flex-direction: column;
  }

  .organization {
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    font-size: 0.875rem;
    color: $gold-metallic !important;
  }

  .division {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    color: $base-blue !important;
    font-size: 1.5rem;
  }

  /**** Search Form Styling ****/
  .header-search {
    justify-content: right;
  }

  .input-group.header-search {
    padding: 0;
    margin: 0;
  }

  #search-field-header {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
  }

  .header-search-container {
    padding: 0.9375rem 0.9375rem 0.9375rem 0;
  }
}

/**** Admin Dashboard Header Edits ****/
body.dashboard {
  .dropdown-menu {
    z-index: 1040;
  }

  .emory-masthead {
    position: relative;
  }
}
/**** Breadcrumbs ****/
.breadcrumb a {
  color: $bright-blue;
}

/**** Notifications/ Alert ****/
a.notify-number {
  align-items: center;
  display: flex;
  gap: 0.625rem;

  > span.badge.count {
    margin: 0;
  }
}
