@import 'colors.scss';
@import 'fonts.scss';

header {

    nav {
        /**** top nav ****/
        &.navbar-collapse {
            
            .navbar-nav.col-md-5 {
                padding: 0;
            }

            .oe2-controls {

                // hide notifications
                span.count.badge.invisible.badge-secondary {
                    display: none;
                }

            }
        }/**** END top nav ****/

        /**** masthead nav ****/
        &#masthead {

        }/**** END masthead nav ****/

        /*** general styling ****/
        .nav-item {
            .nav-link {
                // border-bottom: 1px solid;
            }
        }
    }

/**** Nav Styling ****/
.navbar .navbar-nav .nav-item .nav-link {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.6875rem;
    line-height: 1.6111;
    color: $base-blue;
}

.navbar .navbar-light .navbar-nav .nav-link {
    color: $base-blue;
}

// this section isn't doing anything currently.
// .navbar .navbar-light .navbar-collapse {
//     color: #004990;
//     border-color: rgba(0, 0, 0, 0.1);
// }

.navbar .navbar-toggler-icon {
    display: inline-block !important;
}

.navbar .nav-item {
    display: flex;
}

.navbar .nav-item:not(:last-child)::after {
    content: "|";
    color: $base-slate;
    display: flex;
    padding-top: .25rem;
}

.nav-item.dropdown .nav-link::after {
// .oe2-right-nav .dropdown .nav-link::after 
    content: "❯";
    float: right;
    transform: rotate(90deg);
    color: $base-blue;
    padding-left: 15px;
    margin-top: -7px;
}

.oe2-right-nav .notify-number {
    margin-left: 15px;
}

/**** Branding Styling ****/

.branding-header {
    display: flex;
    flex-direction: row;
    margin-top: 0.75rem;
}

.branding-header-logo {
    margin-right: 0.5rem;
}

branding-header.branding-text {
    display: flex;
    flex-direction: column;
}

.organization {
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    color: $gold-caution;
    font-weight: bold;
    font-size: 0.875rem;
}

.division {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    color: $base-blue;
    font-size: 1.5rem;
}

/**** Search Form Styling ****/
.header-search {
    justify-content: right;
}

.input-group.header-search {
    padding: 0;
    margin: 0;
}

#search-field-header {
    border-top-left-radius: 0px;
    border-bottom-left-radius: 0px;
}

.header-search-container {
    padding: 15px 15px 15px 0;
}

}