@import 'colors.scss';
@import 'fonts.scss';


/**** Nav Styling ****/
.nav-link {
    font-family: $font-family-sans-serif;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 0.875rem;
    line-height: 1.6111;
    color: $base-blue;
}

.navbar-light .navbar-nav .nav-link {
    color: $base-blue;
}

.navbar-toggler-icon {
    display: inline-block !important
}

/**** Header Styling ****/

.branding-header {
    display: flex;
    flex-direction: row;
}

.branding-header.logo {
    margin-right: 0.5rem;
}

branding-header.branding-text {
    display: flex;
    flex-direction: column;
}

.organization {
    text-transform: uppercase;
    font-family: $font-family-sans-serif;
    color: $gold-caution;
    font-weight: bold;
    font-size: 0.875rem;
  }
  
.division {
    font-family: $font-family-sans-serif;
    font-weight: bold;
    color: $base-blue;
    font-size: 1.5rem;
  }

/**** Search Form Styling ****/
.header-search {
    justify-content: right;
}

.input-group.header-search {
    padding-right: 0px;
    margin-right: -10px;
}


