@import 'colors.scss';
@import 'fonts.scss';


/**** Nav Styling ****/
#navigation nav {
    div.navbar-collapse {
        border-bottom: 1px solid $light-slate;
        border-top: none;
    }

    .dropdown-menu {
        padding: 10px;
        -webkit-box-shadow: none;
        box-shadow: none;
        min-width: 11.875rem;
        z-index: 100;
        background-color: $white;
        border: 1px solid $base-slate;
        border-radius: 0;

        .dropdown-item {
            display: inline-block;
            width: 100%;
            font-size: 0.6875rem; 
            color: $mid-blue;
            font-weight: 700;
            text-transform: uppercase;
            border-bottom: 1px solid $light-slate;
            margin-bottom: 8px;

            &:last-child {
                margin-bottom: 2px;
            }

            &:hover {
                color: $base-blue;
                text-decoration: none;
            }
        }
    }

    .open .nav-link,
    .open .nav-link:focus,
    .open .nav-link:hover {
        background-color: $white;
        color: $mid-blue;
        text-decoration: none;
    }

    .nav-link {
        color: $mid-blue;
        font-weight: 700;
        font-size: .6875rem !important;
        text-transform: uppercase;
        letter-spacing: .025em;
        position: relative;
        padding-top: 15px;
        padding-bottom: 15px;

        &:hover {
            color: $base-blue;
            text-decoration: none;
        }
    }
}

/**** Header Styling ****/




