@import "colors.scss";
@import "fonts.scss";

/**** Main Layout ****/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  color: $charcoal;
  font-size: 1rem;
}

/**** Headings & Links ****/
h1,
h4,
h5 {
  font-family: $font-family-serif;
  color: $base-blue;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: $font-family-serif;
  font-weight: normal;
  font-size: 2rem;
  color: $base-blue;
  margin-bottom: 0.9375rem;

  &.alt {
    color: #605858;
    text-align: center;
    width: 100%;

    &::after {
      display: block;
      margin: 0 auto;
      width: 3.75rem;
      color: rgba(0, 0, 0, 0);
      background-color: rgba(0, 0, 0, 0);
      content: "";
      border-top-width: 0.375rem;
      border-top-style: solid;
      border-top-color: rgb(233, 191, 85);
      margin-top: 0.625rem;
    }
  }
}

h3 {
  font-family: $font-family-sans-serif;
  color: $charcoal;
  font-size: 1.75rem;
}

a {
  color: $bright-blue;
}

.badge {
  margin: 0 0.5rem;
}

//total override as this is weirdly break-all in hyrax
.table > tbody .document-title {
  word-break: break-word;
}

/**** Helper Classes ****/

/** Padding 10 **/
.pd-10 {
  padding: 0.625rem;
}

/** Padding 20 **/
.pd-20 {
  padding: 1.25rem;
}

/** Padding 50 **/
.pd-50 {
  padding: 3.125rem;
}

/** Margin 10 **/
.mg-10 {
  margin: 0.625rem;
}

/** Margin 20 **/
.mg-20 {
  margin: 1.25rem;
}

/** Margin 50 **/
.mg-50 {
  margin: 3.125rem;
}

/** 10 spacer **/
.spacer-10 {
  height: 0.625rem;
}

/** 30 spacer **/
.spacer-30 {
  height: 1.875rem;
}

/**** Login Page ****/
.emory-login {
  margin-top: 2rem;

  form.new_user ~ a {
    color: $bright-blue;
  }
}

/**** Home Page ****/

/* alert and/or announcement banner */
div.alert {
  margin: -2rem 0 2rem 0;
}

div#announcement_text {
  background-color: $gold;
  position: relative;
  margin: -2rem auto 2rem auto;
  padding: 0.75rem 0;
  div.notification-label {
    text-transform: uppercase;
    font-size: .675rem;
    font-weight: 700;
  }
  div.notification-label,
  div#announcement {
    background-color: $gold;
    text-align: left;
    border-radius: unset;
    border: unset;
    color: $dark-blue;
    > p {
      font-size: 1rem;
      font-weight: 400;
      line-height: 1.64;
      margin: 0;
    }
  }
}

/* hero */

.dlp-fullwidth {
  width: 100vw;
  position: relative;
  left: 50%;
  right: 50%;
  margin-left: -50vw;
  margin-right: -50vw;
}

.dlp-hero {
  margin-top: -2rem;
  background-image: image_url("skyline.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-position: bottom;
  padding: 5rem 0;
  background-color: #ddd;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-bottom: 0;
  z-index: 1;

  &::after {
    content: "\A";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: rgba(0, 0, 0, 0.5);
    opacity: 1;
    transition: all 0.5s;
    -webkit-transition: all 0.5s;
    -moz-transition: all 0.5s;
    z-index: 0;
  }

  .dlp-hero-container {
    padding: 0.625rem;
    z-index: 10;
    color: $white;
    h1, p {
      font-weight: 700;
      color: white;
    }
    a {
      color: $white;
      font-size: 0.6875rem;
    }
    a.btn {
      padding: 0.875rem 1.5625rem;
      height: 3.125rem;
    }
    .terms-of-use > a {
      font-weight: 400;
      text-decoration: underline;
      font-size: 1rem;
    }
  }
}

//override
.featured-item {
  padding: 0;
}
.dlp-explore-publications {
  background-color: $dark-blue;

  h2 {
    color: $white;
    margin-bottom: 2rem;
  }

  .dlp-explore-publications-wrapper {
    padding: 2.5rem 0;
  }

  //so i dont have to repeat myself
  h3 {
    text-transform: uppercase;
    font-size: small;
    font-family: $font-family-sans-serif;
    font-weight: bold;
    padding-top: 0.625rem;
    padding-bottom: 1.25rem;
    color: $dark-blue;
  }

  .dlp-featured {
    background-color: #fff;
    padding: 1.25rem 0.9375rem;
  }

  .featured-img-container {
    display: flex;
    flex-wrap: wrap;

    .img-wrapper {
      flex-basis: 37%;
      margin-right: 3%;

      .img {
        border: 1px solid $gold;
        padding: 0.625rem;
      }

      img {
        width: 100%;
        float: initial;
        padding: 0;
        border: 1px solid $dark-blue;
      }
    }

    .featured-item-title {
      flex-basis: 60%;
      font-family: $font-family-serif;

      h3 {
        color: $charcoal;
      }

      a {
        font-size: 1.75rem;
        color: $dark-blue;
      }

      a.btn {
        font-size: 0.6875rem;
        margin-top: 1.5625rem;
        color: $white;
        padding: 0.875rem 1.5625rem;
        height: 3.125rem;
      }
    }
  }
}

.dlp-featured-menu {
  background-color: $mid-blue;
  height: 100%;
  padding: 0.625rem;

  .dlp-featured-menu-wrapper {
    height: 100%;
    width: 100%;
    border: 1px solid $bright-blue;
    display: flex;
    flex-wrap: wrap;
    padding-left: 1.5625rem;

    * {
      flex-basis: 100%;
    }

    h3 {
      color: $gold;
      padding-bottom: 0.9375rem;
      margin-bottom: 0;
    }

    .dlp-feat-menu-link {
      padding-bottom: 0.625rem;
      color: $white;

      &:last-child {
        font-weight: bold;
        text-transform: uppercase;
      }
    }
  }
}

.dlp-explore-collections {
  padding: 2.5rem 0;

  h2 {
    margin-bottom: 0;
    border-bottom: 2px solid $light-slate;
    font-weight: 700;
    padding: 0 2rem 2rem 2rem;
  }

  .btn {
    font-size: 0.6875rem;
    color: $white;
    padding: 0.875rem 1.5625rem;
    height: 3.125rem;
  }

  .dlp-collections-wrapper {
    padding: 0 5rem;
    justify-self: center;
  }

  .dlp-collections {
    display: flex;
    border: 1px solid $light-slate;
    margin-bottom: 0.9375rem;

    &:first-child {
      border-top: none;
      border-left: 1px solid $light-slate;
      border-right: 1px solid $light-slate;
      border-bottom: 1px solid $light-slate;
    }

    img {
      width: 200px;
      padding: 0.3125rem;
    }

    .dlp-collections-info {
      width: 100%;
      padding: 1.25rem 0 0 0.625rem;
      display: flex;
      flex-wrap: wrap;

      a,
      div {
        flex-basis: 100%;
      }

      h3 {
        font-weight: bold;
        color: $base-blue;
      }

      .dlp-collections-descrip {
        padding: 0 1rem 1rem
      }

      .dlp-collections-button-wrapper {
        a {
          float: right;
          margin-right: 1.25rem;
          margin-bottom: 0.625rem;
        }
      }
    }
  }

  .dlp-view-collections {
    text-align: center;
    }
}

.dlp-stats-wrapper {
  border-top: 1px solid $light-slate;
  padding: 2.5rem 0;

  h2 {
    font-weight: 700;
  }

  .dlp-stats {
    padding-top: 1.5rem;
  }

  .dlp-stat {
    display: flex;
    flex-wrap: wrap;

    .top {
      flex-basis: 100%;
      border-top: 8px solid $bright-blue;
      border-left: 1px solid $light-slate;
      border-right: 1px solid $light-slate;
      padding: 0.625rem 0 2.1875rem 0;
      text-align: center;
      font-weight: bold;
      font-size: larger;
      background-color: $super-light-slate;
    }

    .bottom {
      border: 1px solid $light-slate;
      flex-basis: 100%;
      padding: 2.1875rem 0 0.625rem 0;
      text-align: center;
      font-size: x-large;
      font-weight: bold;
    }

    .middle {
      position: absolute;
      display: block;
      border-radius: 50%;
      padding: 0.3125rem;
      left: 50%;
      transform: translate(-50%, 0);
      margin-top: 3.125rem;
      height: 60px;
      width: 60px;
      display: flex;
      justify-content: center;
      align-items: center;
      font-size: 35px;
      border: 1px solid $light-slate;
      background: $white;
      color: $dark-blue;
    }
  }
}

/*** end Home Page ***/

/*** Remaining Authors Toggle ***/
/* shows up on both search results and show item pages */
a.remaining-authors-collapse {
  padding-left: 0.9375rem;
  line-height: 2.5rem;
}
a.remaining-authors-collapse.collapsed:after {
  content: "Show more authors/creators >>";
}
a.remaining-authors-collapse:not(.collapsed):after {
  content: "<< Show fewer authors/creators";
}

#content_block_page {
  display: block;
}
