@import "colors.scss";
@import "fonts.scss";

/**** Main Layout ****/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  color: $charcoal;
  font-size: 1rem;
}

/**** Headings & Links ****/
h1,
h4,
h5 {
  font-family: $font-family-serif;
  color: $base-blue;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: $font-family-serif;
  font-weight: normal;
  font-size: 2rem;
  color: $base-blue;
  margin-bottom: 15px;
}

h3 {
  font-family: $font-family-sans-serif;
  color: $charcoal;
  font-size: 1.75rem;
}

a {
  color: $bright-blue;
}

.badge {
  margin: 0 0.5rem;
}

/**** Helper Classes ****/

/** Padding 10 **/
.pd-10 {
  padding: 10px;
}

/** Padding 20 **/
.pd-20 {
  padding: 20px;
}

/** Padding 50 **/
.pd-50 {
  padding: 50px;
}

/** Margin 10 **/
.mg-10 {
  margin: 10px;
}

/** Margin 20 **/
.mg-20 {
  margin: 20px;
}

/** Margin 50 **/
.mg-50 {
  margin: 50px;
}

/** 10 spacer **/
.spacer-10 {
  height: 10px;
}

/** 30 spacer **/
.spacer-30 {
  height: 30px;
}

/**** Login Page ****/
.emory-login {
  margin-top: 2rem;

  form.new_user ~ a {
    color: $bright-blue;
  }
}

/**** Home Page ****/
.home-share-work {
  .terms-of-use > a {
    color: $bright-blue;
  }
}
.home-content {
  .media-heading > a,
  .recent-item a {
    color: $bright-blue;
  } 
}

/**** Dashboard General ****/
body.dashboard {
  padding-top: 0;

  .dashboard a :not(.btn-danger) :not(.sidebar),
  .media-body a,
  div.collection a,
  .collections-list-table a,
  .collection-types-wrapper > div > div > p > a,
  .proxy-rights ~ a,
  .transfer_link > a,
  .works-list a {
    color: $bright-blue;
  }
  
  div.list-group > .list-group-item a {
    color: $bright-blue;
  }




}






/**** New Publication Form ****/
.add-pub-intro {
  padding: 1rem;
  background: $light-slate;
  margin-bottom: 1rem;
}

.genres-block {
  label {
    font-weight: bold;
    color: $black;
    display: flex;
    align-items: center;
  }

  .listing {
    max-width: 100%;
    li.field-wrapper {
      width: 100%;
      select {
        border-radius: 0;
      }
      .field-controls {
        margin: 0;
      }
    }
  }
}

.pub-accordion-wrapper {
  label {
    font-weight: bold;
    color: $black;
    display: flex;
    align-items: center;
  }

  .card {
    border-radius: 0;
    border: 2px solid $base-blue;

    //minor field layout cleanup
    select,
    input {
      border-radius: 0;
    }
    textarea {
      border-radius: 0;
      height: 120px;
    }
    .multi_value .listing,
    .controlled_vocabulary .listing {
      max-width: initial;
    }
    .multi_value .listing .input-group,
    .controlled_vocabulary .listing .input-group {
      width: 100%;
    }
    .multi_value .field-controls,
    .controlled_vocabulary .field-controls {
      margin: 0;
    }
    .input-group:not(.has-validation) > .form-control:not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      border-bottom: 2px solid $dark-blue;
      margin-bottom: 0;
    }
    .card-header {
      padding: 0;
      text-decoration: underline;
      width: 100%;
      padding: 20px 10px;
      background-color: $base-blue;
      font-family: $font-family-serif;
      text-transform: none;
      color: $white;
      font-size: 1.5rem;
      border: none;
      border-radius: 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $mid-blue;
      }

      &::after {
        content: "❯";
        float: right;
        transform: rotate(90deg);
        color: $white;
        padding-left: 15px;
        margin-top: -7px;
      }
    }
  }

  .card-body {
    padding: 0;
    max-height: 0;
    min-height: 0;
    overflow: hidden;

    .form-group,
    form.new_user .field {
      padding: 0 0.75rem;
    }

    h6 {
      padding: 0 0.75rem;
      font-weight: bold;
      color: black;
    }

    > div {
      overflow: hidden;
    }

    &.open {
      max-height: initial;
      margin-top: 2rem;
      padding: 0;
    }
  }
}

#savewidget a,
.switch-upload-type > a,
.add-pub-intro p a,
#file_owner > a,
.fa-refresh,
#content_block_page * a {
  color: $bright-blue;
}

/**** End Publication Form ****/

/*** View Work Page (/concerns/publications/) ***/
#view-work-page {
  a {
    color: $bright-blue;
  }
  a.btn-danger {
    color: $white;
  }
  .button-row-top-two-column {
    margin-bottom: 2rem;
  }
  .fileset-pdf-viewer > iframe {
    border: 1px solid $base-slate;
    border-radius: 0.25rem;
  }
  .sidebar-media > div > img {
    border: 1px solid $base-slate;
    border-radius: 0.25rem;
  }
  .sidebar-media > div > a {
    display: none;
  }
  .viewer-actions {
    margin-top: 20px;
  }
  h2.show-tools-card-title {
    font-family: $font-family-sans-serif;
    color: $gold;
    background-color: $dark-blue;
    font-weight: 700;
    text-transform: uppercase;
  }
  .viewer-actions div.card-header {
    background-color: $dark-blue;
    text-align: left;
  }
  .list-group-item {
    text-align: left;
  }
  .list-group-item * {
    padding: 0.25rem 1rem;
  }
  .dropdown-toggle::after {
    content: "❯";
    transform: rotate(90deg);
    color: $bright-blue;
    padding-left: 15px;
    margin-top: -7px;
    border-top: none;
    margin-left: -0.255em;
    vertical-align: top;
  }
  table.items-table { 
    th {
    white-space: nowrap;
    }
    td {
      word-break: break-word;
    }  
  }
}

/**** End View Work Page (/concerns/publications/) ****/

/*** Search Results ***/

#search-results {
  .badge {
    margin: 0 1.5625rem;
  }
  section.pagination > div.page-links > a,
  .page-link,
  a {
    color: $bright-blue;
  }

#appliedParams {
  a.btn.btn-outline-secondary.remove {
    text-decoration: none;
  }
}

#facets {
  .facet-label .remove {
    margin-left: 0;
    padding-left: 0;
  }

  .facet-limit-active {
    .card-header {
      background-color: $base-blue !important;

      button {
        color: $white;
      }
    }
  }

  .text-success,
  .facet-values li .selected {
    color: $base-blue !important;
    font-weight: bold;
  }

  .border-success,
  .facet-limit-active {
    border-color: $base-blue !important;
  }
}
}
/*** end Search Results ***/

/*** Works List _list_works ***/
.media-left {
  margin-right: 0.5rem;
}

a.document-title {
  color: $bright-blue;
}
/*** end Works List ***/

/*** Collections ***/
#dashboard-collection-tab-content {
  label {
    display: flex;
    align-items: center;
  }
}

.thumbnail-title-wrapper a,
.nav-tabs a,
a.facet-select,
.batch_document_selector_all a {
  color: $bright-blue;
}
/**** end Collections ****/

/**** File-Set Show Page ****/
div.alert-success > a {
  color: $bright-blue;
}

.file-set-show {
  a {
    color: $bright-blue;
  }
  .file-set-details {
    margin-bottom: 3rem;
  }
  .form-actions {
    margin-bottom: 1em;
  }
  .btn-danger {
    color: $white;
  }
  .social-media {
    display: none;
  }
  .file-show-term {
    border: none;
    padding-top: 0;
  }
  .representative-media {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }
  h2.show-tools-card-title {
    font-family: $font-family-sans-serif;
    color: $gold;
    background-color: $dark-blue;
    font-weight: 700;
    text-transform: uppercase;
  }
  .viewer-actions div.card-header {
    background-color: $dark-blue;
    text-align: left;
  }
  .activity-display {
    margin-top: 3rem;
  }
  
}
/**** end File-Set Show Page ****/

/**** filtering from dashboard works or collections ****/
div.constraints-container a.catalog_startOverLink.btn {
  background: $bright-blue;
  color: $white;
}
/**** end filtering ****/
