@import "colors.scss";
@import "fonts.scss";

/**** Main Layout ****/
* {
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  scroll-behavior: smooth;
}
body {
  font-family: "Open Sans";
  color: $charcoal;
  font-size: 1rem;
}

/**** Headings & Links ****/
h1,
h4,
h5 {
  font-family: $font-family-serif;
  color: $base-blue;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-family: $font-family-serif;
  font-weight: normal;
  font-size: 2rem;
  color: $base-blue;
  margin-bottom: 15px;
}

h3 {
  font-family: $font-family-sans-serif;
  color: $charcoal;
  font-size: 1.75rem;
}

/**** Helper Classes ****/

/** Padding 10 **/
.pd-10 {
  padding: 10px;
}

/** Padding 20 **/
.pd-20 {
  padding: 20px;
}

/** Padding 50 **/
.pd-50 {
  padding: 50px;
}

/** Margin 10 **/
.mg-10 {
  margin: 10px;
}

/** Margin 20 **/
.mg-20 {
  margin: 20px;
}

/** Margin 50 **/
.mg-50 {
  margin: 50px;
}

/** 10 spacer **/
.spacer-10 {
  height: 10px;
}

/** 30 spacer **/
.spacer-30 {
  height: 30px;
}

/**** Dashboard General ****/
body.dashboard {
  padding-top: 0;
}

/**** New Publication Form ****/
.add-pub-intro {
  padding: 1rem;
  background: $light-slate;
  margin-bottom: 1rem;
}

.genres-block {
  .listing {
    max-width: 100%;
    li.field-wrapper {
      width: 100%;
      select {
        border-radius: 0;
      }
      .field-controls {
        margin: 0;
      }
    }
  }
}

.pub-accordion-wrapper {
  label {
    font-weight: bold;
    color: $black;
  }

  .card {
    border-radius: 0;
    border: 2px solid $base-blue;

    //minor field layout cleanup
    select,
    input {
      border-radius: 0;
    }
    textarea {
      border-radius: 0;
      height: 120px;
    }
    .multi_value .listing,
    .controlled_vocabulary .listing {
      max-width: initial;
    }
    .multi_value .listing .input-group,
    .controlled_vocabulary .listing .input-group {
      width: 100%;
    }
    .multi_value .field-controls,
    .controlled_vocabulary .field-controls {
      margin: 0;
    }
    .input-group:not(.has-validation) > .form-control:not(:last-child) {
      border-radius: 0;
    }

    &:not(:last-child) {
      border-bottom: 2px solid $dark-blue;
      margin-bottom: 0;
    }
    .card-header {
      padding: 0;
      text-decoration: underline;
      width: 100%;
      padding: 20px 10px;
      background-color: $base-blue;
      font-family: $font-family-serif;
      text-transform: none;
      color: $white;
      font-size: 1.5rem;
      border: none;
      border-radius: 0;
      cursor: pointer;
      transition: 0.3s;

      &:hover {
        background-color: $mid-blue;
      }

      &::after {
        content: "â¯";
        float: right;
        transform: rotate(90deg);
        color: $white;
        padding-left: 15px;
        margin-top: -7px;
      }
    }
  }

  .card-body {
    padding: 0;
    max-height: 0;
    min-height: 0;
    overflow: hidden;

    .form-group,
    form.new_user .field {
      padding: 0 0.75rem;
    }

    h6 {
      padding: 0 0.75rem;
      font-weight: bold;
      color: black;
    }

    > div {
      overflow: hidden;
    }

    &.open {
      margin-top: 2rem;
      padding: 0;
    }
  }
}

/**** End Publication Form ****/
