@import 'colors.scss';

/**** Phone/Tablet Screen ****/
@media (max-width: 767px) {
    /**** Header ****/
    header {

        nav {
            /**** top nav ****/
            &.navbar-collapse {
                
                .navbar-nav.col-md-5 {
                }
    
                .oe2-controls {
                    width: 100%;


                }
            }/**** END top nav ****/
    
            /**** masthead nav ****/
            &#masthead {
    
            }/**** END masthead nav ****/

                    /*** general styling ****/
        .nav-item {
            .nav-link {
                border-bottom: 1px solid $light-slate;

                &::after {
                    position: absolute;
                }
            }
        }
        }
    }
    header {
        .navbar .nav-item {
            flex-wrap: wrap;
            flex-basis: 100%;
        } 
        .nav-link {
            flex-basis: 100%
        }
        li {
            flex-wrap: wrap;
        }
        .navbar .nav-item:not(:last-child)::after {
        display: none;
        }
        .header-search {
            justify-content: center;
        }
        .col-sm-7 {
            flex: auto;
            max-width: 100%;
            padding: 15px 0;
        }
    }
    
    /**** Footer ****/
    #emory-as-footer footer {
        display: flex; 
        flex-direction: column;
        padding-bottom: 1rem;
        ul {
            padding: 0px;
        }
        .footer-list, .copyright-signature {
            display: flex;
            flex-direction: column;
            align-items: center;
        }   
    }
}

/*** View Work Page (/concerns/publications/) ***/
@media (max-width: 991px) {
  #view-work-page {
    .dropdown-toggle {
        white-space: normal;
    }
  }
  .table-responsive {
    overflow-x: scroll;
}
}

/**** Preservation Events Table on Show Work and Show FileSets pages ****/
@media (min-width: 992px) {
  .pet-fit {
    overflow-wrap: break-word;
    min-width: 1rem;
    width: 1.5rem;
    max-width: 1.5rem;
  }
  .pet-fit.attribute-details {
    max-width: 5rem;
  }
}