@import "colors.scss";

/**** Small Phone Screens ****/
@media (max-width: 576px) {
  #search-results dt.data-labels {
    text-align: unset !important;
  }
  div.hyc-container > div.hyc-body > div.hyc-metadata {
    padding: 0 1rem 0 1rem;
    .persistent-url a {
      word-break: break-word;
    }
  }
}

/**** Phone/Tablet Screen ****/
@media (max-width: 767px) {
  /**** Header ****/
  header {
    .col-sm-7 {
      flex: auto;
      max-width: 100%;
      padding: 15px 0;
    }

    nav {
      /**** top nav ****/
      &.navbar-collapse {
        .nav-item {
          flex-wrap: wrap;
          flex-basis: 100%;

          .nav-link {
            flex-basis: 100%;
          }

          &:not(:last-child)::after {
            display: none;
          }
        }
        .oe2-controls {
          width: 100%;

          #language-dropdown-menu {
            flex-basis: 100%;
            border: none;
          }

          .dropdown-menu.dropdown-menu-right.show {
            display: flex;
            flex-wrap: wrap;
            flex-basis: 100%;
            border: none;
          }

          .dropdown-item {
            border-bottom: 1px solid $bootstrap-slate;
          }
        }
      } /**** END top nav ****/

      /**** masthead nav ****/
      &#masthead {
        .header-search {
          justify-content: center;
        }
      } /**** END masthead nav ****/

      /*** general styling ****/
      .nav-item {
        .nav-link {
          border-bottom: 1px solid $light-slate;

          &::after {
            position: absolute;
          }
        }
      }
    }
  }

  /**** Footer ****/
  #emory-as-footer footer {
    display: flex;
    flex-direction: column;
    padding-bottom: 1rem;
    ul {
      padding: 0px;
    }
    .footer-list,
    .copyright-signature {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
  }

  /**** Search Results ****/
  #search-results .search-result-wrapper .list-thumbnail {
    justify-content: unset;
  }
}

/**** Desktop Screen ****/
@media (max-width: 991px) {
  /*** View Work Page (/concerns/publications/) ***/
  #view-work-page {
    .dropdown-toggle {
      white-space: normal;
    }
  }
  .table-responsive {
    overflow-x: scroll;
  }

  /**** homepage ****/
  .dlp-featured-wrapper {
    padding-bottom: 1rem;
  }
  div.home-content.dlp-explore-publications.dlp-fullwidth > div.dlp-explore-publications-wrapper > div.row {
    margin-right: auto;
    margin-left: auto;
  }
  .dlp-explore-collections > .dlp-collections-wrapper {
    padding: 0;
  }
  .dlp-stat {
    padding-bottom: 20px;
  }
  /**** end homepage ****/
}
