@import "colors.scss";
@import "fonts.scss";

/*** View Work Page (/concerns/publications/) ***/
#view-work-page {
  .work-title-wrapper .title-with-badges {
    flex-wrap: wrap;

    h1 {
      flex-basis: 100%;
      padding-bottom: 0.625rem;
    }

    .badge:first-of-type {
      margin-left: 0;
    }
  }

  a {
    color: $bright-blue;
  }
  a.btn-danger {
    color: $white;
  }
  .attribute-creator {
    display: flex;
  }
  .button-row-top-two-column {
    margin-bottom: 2rem;
  }
  /* review and approval actions, admins only */
  div.workflow-actions {
    h2,
    h3,
    h4,
    label.workflow-comments-label {
      font-family: $font-family-sans-serif;
      font-weight: 700;
    }
    h2 {
      text-transform: uppercase;
    }
    #workflow_controls.panel-workflow div.card-header {
      background-color: $gold;
      color: $base-blue;
    }
    #workflow_controls_collapse > div.row {
      width: 100%;
      margin-left: inherit;
      div.workflow-comments {
        padding-top: 1rem;
      }
    }
  }
  .fileset-pdf-viewer > iframe {
    border: 1px solid $base-slate;
    border-radius: 0.25rem;
  }

  h2.show-tools-card-title {
    font-family: $font-family-sans-serif;
    color: $gold;
    background-color: $dark-blue;
    font-weight: 700;
    text-transform: uppercase;
  }

  .viewer-actions div.card-header {
    background-color: $dark-blue;
    text-align: left;
  }

  .sidebar-media > div > img {
    border: 1px solid $base-slate;
    border-radius: 0.25rem;
  }
  .sidebar-media > div > a {
    display: none;
  }
  .viewer-actions {
    margin-top: 1.25rem;
  }
  h2.show-tools-card-title {
    font-family: $font-family-sans-serif;
    color: $gold;
    background-color: $dark-blue;
    font-weight: 700;
    text-transform: uppercase;
  }
  .viewer-actions div.card-header {
    background-color: $dark-blue;
    text-align: left;
  }
  .list-group-item {
    text-align: left;
  }
  .list-group-item * {
    padding: 0.25rem 1rem;
  }
  .dropdown-toggle::after {
    content: "â¯";
    transform: rotate(90deg);
    color: $bright-blue;
    padding-left: 0.9375rem;
    margin-top: -0.4375rem;
    border-top: none;
    margin-left: -0.255em;
    vertical-align: top;
  }

  .card-body {
    padding: 0;

    table {
      margin-bottom: 0;
    }
  }

  .work-show.publication {
    padding-right: 0;
    ul {
      margin-bottom: 0;
    }
  }

  .card.viewer-actions {
    margin-right: 1.25rem;
  }

  .work-show {
    padding: 1.25rem 1.25rem 0 1.25rem;
  }

  table.items-table {
    th {
      white-space: nowrap;
      &.th-title {
        min-width: 15rem;
      }
    }
    td {
      word-break: break-word;
    }
  }
}
/**** End View Work Page (/concerns/publications/) ****/

/**** File-Set Show Page ****/
// from the view work page, click on the title in the items table and it takes you to /concern/parent/####/file_sets/####
.card-overflow {
  overflow-x: auto;
}

div.alert-success > a {
  color: $bright-blue;
}

.file-set-show {
  a {
    color: $bright-blue;
  }

  a.btn,
  button {
    margin: 0.3125rem;
  }

  .btn-danger {
    color: $white;
  }

  .social-media {
    display: none;
  }

  .file-set-details {
    margin-bottom: 3rem;
    margin-top: 0.625rem;

    .file-show-term {
      border: none;
      padding-top: 0;
    }

    .col-4 {
      padding: 0;

      #pdf-viewer {
        border: 1px solid rgba(0, 0, 0, 0.125);
        border-radius: 0.35rem;
      }
    }

    .activity-display {
      margin-top: 3rem;
    }
  }

  .representative-media {
    border: 1px solid rgba(0, 0, 0, 0.125);
    border-radius: 0.25rem;
  }

  .event-table {
    display: block;
    width: 100%;
    overflow-x: auto;
    -webkit-overflow-scrolling: touch;

    table {
      word-break: break-word;
      padding: 0;
      margin-bottom: 0;
      border: none;

      thead tr {
        word-break: initial;

        th:first-child {
          border-left: none;
        }
        th:last-child {
          border-right: none;
        }
      }

      tbody td:first-child {
        border-left: none;
      }
      tbody td:last-child {
        border-right: none;
      }
    }
  }
}
/**** end File-Set Show Page ****/
