<!-- [Hyrax-override-v5.1 (ec2c524)] adds line for the notice title-->

<% if display_content_block? @announcement_text %>
  <div id="announcement_text">
  <div class="container">
    <div class="notification-label">notice</div>
    <%= displayable_content_block @announcement_text, id: 'announcement', role: 'complementary', 'aria-label': 'announcement-text' %>
  </div></div>
<% end %>
