<div class="row">
  <div class="col-lg-8">
    <div class="dlp-featured-wrapper">
        <%= render 'featured_works' %>
    </div>
  </div>

  <div class="col-lg-4">
    <div class="dlp-featured-menu">
      <div class="dlp-featured-menu-wrapper">
        <h3>Browse publications by type</h3>
        <a class="dlp-feat-menu-link" href="/catalog?f[content_genre_ssi][]=Article">Articles</a>
        <a class="dlp-feat-menu-link" href="/catalog?f[content_genre_ssi][]=Book">Books</a>
        <a class="dlp-feat-menu-link" href="/catalog?f[content_genre_ssi][]=Book+Chapters">Book Chapters</a>
        <a class="dlp-feat-menu-link" href="/catalog?f[content_genre_ssi][]=Conference+Paper">Conference Papers</a>
        <a class="dlp-feat-menu-link" href="/catalog?f[content_genre_ssi][]=Presentation">Presentations</a>
        <a class="dlp-feat-menu-link" href="/catalog?f[content_genre_ssi][]=Poster">Posters</a>
        <a class="dlp-feat-menu-link" href="/catalog?f[content_genre_ssi][]=Report">Reports</a>
        <a class="dlp-feat-menu-link" href="/catalog">View all items</a>
      </div>
    </div>  
  </div>
</div>
