ALLOW_SEEDING_IN_PRODUCTION=
APP_NAME=
ARCH_SERVER_IP=
TEST_SERVER_IP=
PROD_SERVER_IP=
BUNDLE_GEMFILE=
BUNDLE_PATH=
CH12N_TOOL=
CHROME_HEADLESS_MODE=
DATABASE_CLEANER_ALLOW_REMOTE_DATABASE_URL=
DATABASE_TEST_URL=
DATABASE_URL=
DB_HOST=
DB_NAME=
DB_PASSWORD=
DB_PORT=
DB_USERNAME=
FEDORA6_URL=
FITS_SERVLET_URL=
HUB_URL=
HYRAX_DERIVATIVES_PATH=
HYRAX_UPLOAD_PATH=
HYRAX_VALKYRIE=
IN_DOCKER=
KARMA_BROWSER=
KARMA_HOSTNAME=
MEMCACHED_HOST=
METADATA_DATABASE_NAME=
RACK_ENV=
RAILS_ENV=
RAILS_ROOT=
RAILS_LOG_TO_STDOUT=
RAILS_QUEUE=
REDIS_HOST=
REDIS_DATABASE=
REDIS_PASSWORD=
REDIS_URL=
SECRET_KEY_BASE=
SEED_APP=
SKIP_SELENIUM=
SOLR_COLLECTION_NAME=
SOLR_CORE_CONF_DIR=
SOLR_CORES=
SOLR_HOST=
SOLR_PORT=
SOLR_URL=
SOLR_TEST_URL=
VALKYRIE_METADATA_ADAPTER=
VALKYRIE_STORAGE_ADAPTER=
GEONAMES_USERNAME=
FITS_SERVLET_VERSION=
FEDORA_VERSION=
OPENEMORY_WORKFLOW_ADMIN_SET_ID=
OPENEMORY_COLLECTION_ID=
DATABASE_AUTH=true
HONEYBADGER_API_KEY=
# Honeybadger ENV label. Choose from the following values: "SelfDeposit-Prod", "SelfDeposit-Test", "SelfDeposit-Arch". Only set this value for production environments.
HONEYBADGER_ENV=
