development:
  url: <%= ENV['SOLR_DEVELOPMENT_URL'] || ENV['SOLR_URL'] || "http://127.0.0.1:8983/solr/dlp-selfdeposit" %>
test: &test
  url: <%= ENV['SOLR_TEST_URL'] || ENV['SOLR_URL'] || "http://127.0.0.1:#{ENV.fetch('SOLR_TEST_PORT', 8983)}/solr/dlp-selfdeposit-test" %>
production:
  url: <%= ENV['SOLR_URL'] || "http://127.0.0.1:8983/solr/dlp-selfdeposit-prod" %>
