<div class="container not-found-container">
  <div class="row static-heading-row not-found">
    <h1 class="static-heading">404 Error - Page Not Found</h1>
  </div>
  <div class="row static-subheading">
    <h2 class="intro-subtitle">Uh-oh. We can't find this resource.</h2>
    <hr class="static-rule rule">
  </div>
   <main class="section-main-body">
    <p>Perhaps going to the
        <%= link_to t(:'hyrax.controls.home'), hyrax.root_path %>
        page can get you back on track. You can access the featured publication, view different collections, and browse publications by type from there.</p>
    <p>Otherwise, you could try searching again in the search box above.</p>
    <p>If all else fails, you can always
        <a href="https://emory.libanswers.com/" title="Ask-A-Librarian">ask a librarian</a>.</p>
    <%= image_tag '404.jpg', alt: "404: Page or file not found" %>
  </main>
</div>
