<%# [Hyrax-override-v5.1 (ec2c524)] remove lines 7 and 11 and line 6 remove class for our styling %>
<% if query_has_constraints? %>
  <div id="appliedParams" class="clearfix constraints-container">
    <div class="float-right">
      <%= link_to start_over_path,
          class: "catalog_startOverLink btn btn-text", id: "startOverLink" do %>

            <%= t('blacklight.search.start_over') %>
      <% end %>
    </div>

    <%= render_constraints(params.merge(route_set: hyrax)) %>
  </div>
<% end %>
