<div class="branding-header">
  <div class="branding-header-logo">
    <%= link_to root_path do %>
      <%= image_tag("shield.svg", :alt => "Emory Library") %>
    <% end %>
  </div>
  <div class="branding-text">
    <div class="row ml-0">
      <div>
        <%= link_to "Emory University", "https://emory.edu/", class: "organization" %>
      </div>
    </div>
    <div class="row ml-0">
      <div>
        <%= link_to "Emory Libraries", "https://libraries.emory.edu/", class: "division" %>
      </div>
    </div>
  </div>
</div>