<!-- [Hyrax-override-v5.1 (ec2c524)] deleted the hyrax header banner image lines 2-4 and pulls _controls out, line 12 -->

<% content_for(:navbar) do %>
    <div>
      
      <div class="container site-title-container">
        <div class="site-title h1" style="text-align: center;">
          <%= render "hyrax/homepage/marketing" if controller_name == 'homepage' %>
        </div>
      </div>
  
    </div>
  <% end %>
  
  <% content_for(:precontainer_content) do %>
    <%= render 'hyrax/homepage/announcement' if controller_name == 'homepage' %>
  <% end %>
  
  <%= render template: 'layouts/hyrax' %>
